.links {

    &__list {
        display: flex;
        align-items: flex-end;
        column-gap: 40px;
        height: 40px;
        padding: 30px 0;

        &-item {
            list-style-type: none;
    
            a {
                font-size: 12px;
                line-height: 17px;
                text-decoration: none;
            }
        }
    }
}