.footer {
    color: #000;

    ul {
        width: 335px;
        margin: 0 auto;
    }

    a {
        color: #000;
    }

    svg {
        margin: 0 auto;
        padding-bottom: 21px;

        path {
            fill: #000;
        }

        line {
            stroke: #000;
        }
    }
}